.panel-color-floral-white {
    background: floralwhite;
    color: black;
}

.panel-color-beige {
    background: beige;
    color: black;
}

.panel-color-ivory {
    background: ivory;
    color: black;
}

.panel-color-light-gray {
    background: lightgray;
    color: black;
}

.top-margin-20 {
    margin-top: 20px;
}

.equal-width-cols {
    width: 100%;
    table-layout: fixed;
}

a:focus{
    outline: none;
}

.btn:focus {
    outline: none;
}

.action-buttons {
    display: flex;
    margin-bottom: 10px;
}

.action-buttons > .button-group {
    width: 33%;
}

.year-block {
    display: inline-block;
    width: 34%;
}

.year-block > div {
    display: inline-block;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


