<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Enter new game</h4>
        </div>

        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>Date</td>
                    <td ng-repeat="playerPlace in newGame.playersPlaces">{{playerPlace.player.name}}</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="datetime-local" ng-model="newGame.date"/></td>
                    <td ng-repeat="playerPlace in newGame.playersPlaces">
                        <input type="number" class="form-control" ng-model="playerPlace.place"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="saveGame(newGame)" data-dismiss="modal">
                Сохранить изменения
            </button>
        </div>
    </div>
</div>