<meta http-equiv=content-type content="text/html" charset="UTF-8">

<div class="panel-default">
    С: <input class="form-group-lg text-center" type="datetime-local" ng-model="startDate"/>
    До: <input class="form-group-lg text-center" type="datetime-local" ng-model="endDate"/>
    <button type="button" class="btn btn-default" ng-click="getHistory()">Получить</button>
    <table class="table">
        <colgroup>
            <col span="1" style="width: 160px;">
            <col span="1" style="width: 100px;">
            <col span="1" style="width: 100px;">
        </colgroup>
        <thead align="center">
        <tr>
            <td>Дата</td>
            <td>Пользователь</td>
            <td>Действие</td>
            <td>Пояснение</td>
        </tr>
        <tr>
            <td>Фильтр :</td>
            <td><input class="form-group-lg text-center" type="text" ng-model="search.userName"/></td>
            <td><input class="form-group-lg text-center" type="text" ng-model="search.action"/></td>
            <td></td>
        </tr>
        </thead>
        <tbody align="center">
        <tr ng-repeat="his in history | filter:search track by $index">
            <td>{{his.date| date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{his.userName}}</td>
            <td>{{his.action}}</td>
            <td align="left">{{his.description}}</td>
        </tr>
        </tbody>
    </table>
</div>